@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
body {
    margin: 0 5vw;
    background-color: #f3f3f1;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: block;
}

.modal:target {
    visibility: visible;
    background-color: aliceblue;
}

.icon {
    height: 40px;
    text-decoration: none;
    color: #3b70f6;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.icon__mark {
    width: 40px;
    height: 100%;
    background-color: #3b70f6;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #A9A9A9;
    position: relative;
    display: inline-block;
    margin-right: 30px;
}

.icon__mark::before,
.icon__mark::after,
.icon__border{
    content: "";
    position: absolute;
    background-color: white;
    height: 1.5px;
    border-radius: 3px;
    margin: 0 8px;
}

/* 上のライン */
.icon__mark::before {
    width: 40%;
    top: 30%;
}

/* 中央のライン  */
.icon__border {
    width: 65%;
    top: 50%;
    transform: translateY(-50%);
}

/* 下のライン */
.icon__mark::after {
    width: 20%;
    bottom: 30%;
}

.search {
    height: 100%;
    display: flex;
    align-items: center;
}

.search__span {
    display: inline-block;

}

.search__select {
    height: 60px;
    display: inline-block;
}

.modal__close {
    background-color: white;
}

.modal__close > a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #A9A9A9;
    background-color: #3b70f6;
    width: 60px;
    height: 60px;
    margin: 40px 0 0 40px;
}

.modal__close > a::before, .modal__close > a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 30px;
    background: white;
}

.modal__close > a::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal__close>a::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__inner {
    display: flex;
    height: 100%;
    justify-content: center;
    background-color: white;
}

.modal__content {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 80px;
}

.modal__content-list > a {
    text-decoration: none;
    color: #3b70f6;
    font-size: 40px;
}

.modal__content-log > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #3b70f6;
    font-size: 40px;
    margin: 20px 0 20px;
}

.modal__content-login > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #3b70f6;
    font-size: 40px;
}