.heart__favorite {
    width: 30px;
    height: 30px;
    border: none;
    position: relative;
    background: none;
    cursor: pointer;
}

.heart__favorite::before,
.heart__favorite::after {
    content: "";
    width: 50%;
    height: 80%;
    background: pink;
    border-radius: 25px 25px 0 0;
    display: block;
    position: absolute;
}

.heart__favorite::before {
    transform: rotate(-45deg);
    left: 14%;
    top: 14%;
}

.heart__favorite::after {
    transform: rotate(45deg);
    right: 14%;
    top: 14%;
}