.shop {
    display: flex;
    justify-content: space-between;
}

.shop__detail {
    width: 50%;
}

.shop__title {
    display: flex;
}

.shop__title--button {
    background-color: white;
    border: 1px solid rgb(158, 156, 156);
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    padding: 4px 9px;
    box-shadow: 3px 3px 3px #A9A9A9;
}

.shop__title--name {
    margin: 0 0 0 15px;
    font-size: 25px;
    font-weight: bold;
}

.shop__about {
    margin: 20px 0 3px 0;

}

.shop__about--img {
    width: 100%;
    object-fit: contain;
}

.shop__about--category {
    display: flex;
}

.shop__about--category > p {
    margin-right: 5px;
}

.shop__reservation {
    background-color: rgb(56, 108, 221);
    width: 40%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #A9A9A9;
    aspect-ratio: 4 / 2;
}

.shop__form {
    height: 100%;
    color: white;
    position: relative;
}

.shop__reservation--input {
    width: 90%;
    margin: 0 auto ;
    padding: 15px 0;
}

.shop__reservation--title {
    margin: 0;
    font-size: 28px;
    margin-bottom: 20px;
}

.error__text {
    margin: 0;
}

.shop__reservation--date {
    display: block;
    width: 35%;
    margin-bottom: 8px;
    border: none;
    border-radius: 5px;
    border-color: rgb(118, 118, 118);
}

.shop__reservation--time {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    border: none;
    border-radius: 5px;
    border-color: rgb(118, 118, 118);
}

.shop__reservation--number {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 5px;
}

.shop__confirmation {
    width: 90%;
    margin: 10px auto 0;
    background-color: rgb(91, 134, 229);
    border-radius: 5px;
}

.shop__confirmation--up {
    display: flex;
}

.shop__confirmation--up > p {
    width: 100px;
    margin: 20px 0 0 30px;
}

.shop__confirmation--item {
    display: flex;
}

.shop__confirmation--item > p {
    width: 100px;
    margin: 0 0 0 30px;
}

.shop__confirmation--down {
    display: flex;
}

.shop__confirmation--down > p {
    width: 100px;
    margin: 0 0 20px 30px;
}

.shop__submit {
    width: 100%;
    margin: auto 0 0 0;
    height: 52px;
    position: absolute;
    bottom: 0;
}

.shop__submit--button {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: rgb(22, 84, 218);
    color: white;
    border: none;
    cursor: pointer;
}

.error__text {
    color: white;
}