.thanks {
    display: flex;
}

.thanks__card {
    background-color: white;
    width: 40%;
    margin: 30px auto;
    height: 250px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #A9A9A9;
}

.thanks__card > p {
    text-align: center;
    font-size: 20px;
    margin: 70px 0 50px;
}